*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular.svg#desyrelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
}

.wrapper {
  width: 100%;
}

header,
section {
  width: 100%;
}

section {
  height: calc(100% - 60px);
  background: #fff;
}

.content-inner {
  height: calc(100% - 60px);
}

.content,
.content-inner {
  width: 100%;
  background: #ffffff;
  float: left;

  h1, h2 {
    color: #303E48;
  }

  h1{
    display: inline-block;
    margin-bottom: 0.5em;
    border-bottom: solid 2px;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.6em;
  }

  h2 {
    display: block;
    font-family: sans-serif;
    font-weight: 300;
    padding: 0.5em 0;
    font-size: 1em;
    line-height: 1.5em;
    @media (all and min-width: 830px) {
      padding: 1em 0 0.5em;
      font-size: 1.2em;
    }
  }

  p, ul{
    display: block;
    margin: 1em auto;
  }

  img {
    display: block;
    border-radius: 10px;
    margin: 1em auto 1.5em;
    width: 96%;
    max-width: 96%;
    @media (all and min-width: 830px) {
      max-width: 70%;
    }

    &.image-max {
      @media (all and min-width: 830px) {
        max-height: 275px;
      }
    }
  }

  p {
    text-align: left;
    font-size: 1em;
    line-height: 1.6em;
  }

  a {
    color: #4b938f;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    list-style: none;
    float: left;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 1em;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

.bg-image {
  width: 100%;
  @media (all and min-width: 830px) {
    height: calc(100vh - 60px);
    background-image: url('../img/image-1.jpg');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
  }
}

.welcome-container {
  position: relative;
  padding: 2em 1.5em;
  width: 100%;
  @media (all and min-width: 830px) {
    width: 60%;
    padding: 3em 0 0 2em;
  }

  p {
    font-size: 1em;
    line-height: 1.7em;
    font-family: sans-serif;
    font-weight: 300;

    @media (all and min-width: 830px) {
      font-size: 1.2em;
    }
  }
}

.section-container {
  padding: 2em 1.5em;
  width: 100%;
  @media (all and min-width: 830px) {
    padding: 3em 2em;
    width: 75%;
  }
}

.article-container {
  padding-bottom: 1em;
  border-bottom: solid 1px #ddd;
}

.link-container {
  display: inline-block;
  margin: 0.5em 1em 1em 0;

  .fa {
    color: #009678;
    margin-right: 0.25em;
  }
}

.hamburger {
  width: 30px;
  float: right;
  position: relative;
  top: 50%;
  margin-right: 0.5em;
  transform: translateY(-50%);
  @media (all and min-width: 830px) {
    display: none;
  }

  span {
    display:block;
    width: 100%;
    padding: .1em 0;
    margin: .3em auto;
    @media (all and min-width: 830px) {
      padding: .15em 0;
      margin: .2em auto;
    }
    background: #303E48;
  }
}

header  {
  background: #009678;
  padding: 0;
  height: 60;

  @media (all and min-width: 830px) {
    padding: 0 1em;
  }

  .logo {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-family: 'ProximaNova-Regular';
    font-weight: bold;
    text-decoration: none;
    color: #303E48;
    margin-left: 0.5em;
    @media (all and min-width: 830px) {
      margin-left: 0em;
    }
  }
}

nav.nav-menu {
  float: left;
  width: 100%;
  background: #009678;
  z-index: -1;
  @media (all and min-width: 830px) {
    float: right;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  ul {
    margin: 30px 0 0 0;
    @media (all and min-width: 830px) {
      margin: 0;
    }
    width: 100%;
    max-width: 830px;

    li {
      display: inline-block;
      width: 100%;
      float: left;
      margin: 1em 0;

      @media (all and min-width: 830px) {
        width: auto;
        margin: 0;
        text-align: center;
      }

      &.active,
      &:focus {
        a {
          border-bottom: solid 2px #fff;
        }
      }

      a {
        margin: 0.2em 0.75em 0;
        padding: 0 0em 0.2em;
        color: #ffffff;
        text-decoration: none;
        font-family: 'ProximaNova-Regular';
        border-bottom: solid 2px transparent;

        &:hover {
          border-bottom: solid 2px #fff;
        }
      }

      &.cv-menu-item {
        display: block;
        @media (all and min-width: 830px) {
          display: none;
        }
      }
    }
  }
}

.cv-link {
  display: none;
  @media (all and min-width: 830px) {
    display: block;
  }
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  width: 45px;
  height: 45px;
  background: #303E48;
  color: white;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  margin-left: 0.5em;
  cursor: pointer;
  text-decoration: none;
}

.cv-container {
  width:100%;
  height: 100%;
  margin: 0 auto;
}

.contact-link {
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;
  @media (all and min-width: 830px) {
    right: 1em;
    bottom: 1em;
  }
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #303E48;
  cursor: pointer;

  .fa {
    color: #ffffff;
    line-height: 50px;
  }
}

.tooltip {
  display: none;
  border-radius: 5px;
  background: #303E48;
  position: absolute;
  bottom: 79px;
  right: 0.5em;
  @media (all and min-width: 830px) {
    right: 1em;
    bottom: 85px;
  }
  padding: 2em 1em;

  &:after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: -12.5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 17.5px 0 17.5px;
    border-color: #303E48 transparent transparent transparent;
  }

  p, a {
    color: #ffffff;
    line-height: 1.7em;
  }

  a {
    display: block;
    margin-top: 0.5em;
  }
}

.icon {
  display: none;
  @media (all and min-width: 830px) {
    display: block;
  }
  position: absolute;
  bottom: .5em;
  right: .5em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.disclaimer {
  margin-top: 3em;
  padding: 1em 0;
  font-size: 0.9em;
  line-height: 1.4em;
  font-style: italic;
}
