*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular.svg#desyrelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
}

.wrapper {
  width: 100%;
}

header,
section {
  width: 100%;
}

section {
  height: calc(100% - 60px);
  background: #fff;
}

.content-inner {
  height: calc(100% - 60px);
}

.content,
.content-inner {
  width: 100%;
  background: #ffffff;
  position: relative;

  p, ul, h2 {
    display: block;
    margin: 1em auto;
  }

  img {
    display: block;
    border-radius: 10px;
    margin: 1em auto 1.5em;
    width: 96%;
    max-width: 96%;
    @media (all and min-width: 830px) {
      max-width: 70%;
    }

    &.image-max {
      @media (all and min-width: 830px) {
        max-height: 275px;
      }
    }
  }

  p {
    text-align: left;
    font-size: 1em;
    line-height: 1.6em;
  }

  h2 {
    color: #4b938f;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 1em;
    text-decoration: underline;
  }

  a {
    color: #4b938f;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    list-style: none;
    float: left;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 1em;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

.welcome-container {
  position: relative;
  top: 3em;
  left: 2em;
  width: 100%;
  @media (all and min-width: 830px) {
    width: 70%;
  }

  p {
    font-size: 1.25em;
    line-height: 1.7em;
  }
}

.loading-cog {
  text-align: center;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @-ms-keyframes spin {
      from { -ms-transform: rotate(0deg); }
      to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

  .fa-cog:before {
    font-size: 2em;
    color: #4b938f;
  }

}

.hamburger {
  width: 40px;
  float: right;
  position: relative;
  top: 50%;
  margin-right: 0.5em;
  transform: translateY(-50%);
  @media (all and min-width: 830px) {
    display: none;
  }

  span {
    display:block;
    width: 100%;
    padding: .1em 0;
    margin: .3em auto;
    @media (all and min-width: 830px) {
      padding: .15em 0;
      margin: .2em auto;
    }
    background: #303E48;
  }
}

header  {
  background: #009678;
  padding: 0;
  height: 60;

  @media (all and min-width: 830px) {
    padding: 0 1em;
  }

  .logo {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-family: 'ProximaNova-Regular';
    font-weight: bold;
    text-decoration: none;
    color: #303E48;
    margin-left: 0.5em;
    @media (all and min-width: 830px) {
      margin-left: 0em;
    }
  }
}

nav.nav-menu {
  float: left;
  width: 100%;
  background: #009678;
  z-index: -1;
  padding-top: 30px;
  @media (all and min-width: 830px) {
    float: right;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding-top: 0px;
  }

  ul {
    margin: 0em;
    width: 100%;
    max-width: 830px;

    li {
      display: inline-block;
      width: 100%;
      float: left;

      @media (all and min-width: 830px) {
        width: auto;
        text-align: center;
      }

      &.active,
      &:focus {
        a {
          text-decoration: underline;
        }
      }

      a {
        display: block;
        padding: 1em 0.5em;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .85em;
        font-family: 'ProximaNova-Regular';

        &:hover {
          text-decoration: underline;
        }
      }

      &.cv-menu-item {
        display: block;
        @media (all and min-width: 830px) {
          display: none;
        }
      }
    }
  }
}

.cv-link {
  display: none;
  @media (all and min-width: 830px) {
    display: block;
  }
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  width: 40px;
  height: 40px;
  background: #303E48;
  color: white;
  text-align: center;
  line-height: 41px;
  border-radius: 50%;
  margin-left: 1em;
  cursor: pointer;
  text-decoration: none;
}

.cv-container {
  width:100%;
  height: 100%;
  margin: 0 auto;
}

.icon {
  display: none;
  @media (all and min-width: 830px) {
    display: block;
  }
  position: absolute;
  bottom: .5em;
  right: .5em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.modal {
  display: none;

  .close {
    position: absolute;
    right: .5em;
    bottom: .5em;
    color: #4b938f;
    font-size: 2em;
  }

  .wrapper {
    width: 96%;
    @media (all and min-width: 830px) {
      width: 50%;
    }
    max-width: 400px;
    margin: 2em auto;
    padding-bottom: 2em;
    overflow: scroll;

    img {
      width: 100%;
    }

    p {
      line-height: 1.6em;
    }

    a {
      text-decoration: none;
      color: #514f4f;

      span {
        font-size: 1em;
        text-align: left;
        padding: 0;
      }

      &:hover {
        text-decoration: none;
      }
      &:visited {
        color: #514f4f;
        text-decoration: none;
      }
    }

    h2 {
      color: #4b938f;
      font-size: 1.2em;
      line-height: 1.5em;
      margin: .5em 0;
      text-decoration: underline;
    }

  }

}

.show {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .98);
  overflow: hidden;
}

.continue-reading {
  color: #4b938f;
  cursor: pointer;
}

.history-modal {
  display: none;


  h2 {
    color: #4b938f;
    margin-bottom: .5em;
    display: inline-block;
  }

  .close {
    position: absolute;
    right: .75em;
    top: -0.5em;
    color: #4b938f;
    font-size: 2em;
  }

  hr {
    border: none;
    height: 1px;
    background: #ccc;
    margin-bottom: 1.5em;

  }
  p {
    margin: .75em .5em;
    line-height: 1.6em;
    font-weight: 400;
  }

  blockquote {
    border-left: solid 5px #4b938f;
    padding-left: 10px;
    margin: .75em 3em .75em 1em;
    line-height: 1.6em;
    font-weight: 400;
    color: #222;
    text-align: justify;
  }

  &.show {
    display: block;
    background-color: rgba(0, 0, 0, .7);

  }

  .history-wrapper {
    position: relative;
    width: 100%;
    @media (all and min-width: 830px) {
      width: 70%;
    }
    margin: 2.25em auto;
    padding: 1em;
    background: #fff;
    height: 100%;

    &:before {
      content: '';
      color: #4b938f;
      font-size: 1.2em;
      text-align: center;
      padding: .5em 0;
      position: absolute;
      right: 0;
      top: -20px;
      width: 80px;
      height: 20px;
      background: #fff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .scrollable-history {
      position: absolute;
      left: 1em;
      right: 1em;
      top: 2em;
      bottom: 1em;
      overflow: scroll;
    }
  }
}
