<div class="section-container">

  <div>
    <h1 tabindex="0">About Me</h1>
  </div>

  <div class="about-container">
        <img align="top" class="headshot" src="../img/headshot.jpeg" alt="headshot"
        style="width:350px;height:270px;">
      </div>

      <div class="about-container">
            <h2 tabindex="0">I received my Ph.D. in Psychology from Harvard University in May 2017. Currently, I am a postdoctoral fellow at Harvard University working with Kathryn Davidson (Linguistics) and Jesse Snedeker (Psychology). I recieved my B.A. from Wellesley College in Cognitive and Linguistic Sciences and English.
               </h2>
          </div>

  <br/>

    <div class="about-container">
          <h2 tabindex="0">In my spare time, I enjoy reading, cooking, biking, running, and yoga.
             </h2>
        </div>

        <div class="about-container">
              <img align="bottom" class="bike" src="../img/bike.jpeg" alt="bike"
              style="width:400px;height:300px;">
            </div>

            <div class="about-container">
                  <p tabindex="0">Photo by Seth Kruckenberg
                     </p>
                </div>

                <hr>
