<div class="section-container">

  <div>
    <h1 tabindex="0">About Me</h1>
  </div>

  <div class="column-container">
    <div class="left-column">
      <p tabindex="0">I am currently a postdoctoral fellow at Harvard University working with Kathryn Davidson and Jesse Snedeker.
         </p>

         <p tabindex="0">Starting July 2023, I will be an Assistant Professor at Johns Hopkins University.
            </p>
    </div>

    <div class="right-column">
      <img class="headshot" src="../img/headshot.jpeg" alt="headshot">
    </div>
  </div>
</div>
