<div class="section-container">

  <div>
    <h1 tabindex="0">Collaborators</h1>
  </div>

  <h2 tabindex="0">Marie Coppola, Assistant Professor of Psychological Sciences and Linguistics, University of Connecticut</h2>
  <div class="link-container">
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <a href="http://languagecreationlab.uconn.edu/people/ " target="_blank" rel="noopener noreferrer">Website</a>
  </div>

  <h2 tabindex="0">Jennie Pyers, Associate Professor of Psychology, Wellesley College</h2>
  <div class="link-container">
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <a href="http://academics.wellesley.edu/Psychology/Pyers/pyers.html " target="_blank" rel="noopener noreferrer">Website</a>
  </div>

  <h2 tabindex="0">Ann Senghas, Professor of Psychology, Barnard College</h2>
  <div class="link-container">
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <a href="http://www.columbia.edu/~as1038/" target="_blank" rel="noopener noreferrer">Website</a>
  </div>

  <h2 tabindex="0">Jesse Snedeker, Professor of Psychology, Harvard University</h2>
  <div class="link-container">
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <a href="http://psychology.fas.harvard.edu/people/jesse-snedeker" target="_blank" rel="noopener noreferrer">Website</a>
  </div>





</div>
