<div class="section-container">

  <div>
    <h1 tabindex="0">Publications</h1>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Davidson, K., Senedeker, J. (2022). Quantifiers in Nicaraguan Sign Language. <i> Cognitive Science</i>. <a href="/pdf/kocab_davidson_snedeker_2022.pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            </h2>
          </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Senghas, A., Coppola, M., and Snedeker, J. (submitted). Recursive language emerges quickly when a new language community forms. Manuscript available upon request.
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Ziegler, J., and Snedeker, J. (2019). It takes a village: The role of community size in linguistic
regularization. <i> Cognitive Psychology</i>.
<a href="/pdf/ziegler_kocab_snedeker_inpress.pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Davidson, K., Kocab, A., Sims, A., and Wagner, L. (2019). The relationship between verbal form and event structure
in sign languages. <i> Glossa: Journal of General Linguistics, 4,</i> 1-3. View working paper.
<a href="/pdf/Davidson-et-al.-(under review).pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>


  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Ahn, D., Lund, G., and Davidson, K. (2019). Reconsidering agreement in sign languages. Poster presented
at Generative Linguistics in the Old World (GLOW), Oslo, Norway, May 2019. View abstract.
<a href="/pdf/kocabetal2019_glow.pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Lam, H., and Snedeker, J. (2017). When cars hit trucks and girls hug boys: The effect of animacy on word order in gestural language creation. <i> Cognitive Science, 42</i>, 918-9238.
        <a href="/pdf/Kocab-et-al.-(2017).pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Senghas, A., and Snedeker, J. (2016). The emergence of temporal language in Nicaraguan Sign Language. <i> Cognition, 156</i>, 147-163.
        <a href="/pdf/Kocab-et-al.-(2016).pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
      Kocab A., Pyers J., and Senghas A. (2015). Referential shift in Nicaraguan Sign Language: A transition from lexical to
      spatial devices. <i> Frontiers in Psychology, 5(1540)</i>. <a href="/pdf/fpsyg-05-01540.pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <blockquote class="disclaimer" tabindex="0">
    <strong style="font-style: normal">Please note:</strong> These electronic files are posted for individual, noncommercial use to ensure timely dissemination of scholarly work. They are intended for teaching and training purposes only. Articles may not be re-posted or disseminated without permission by the copyright holder. Copyright holders retain all rights as indicated within each article.
  </blockquote>

</div>
