<div class="section-container">

  <div>
    <h1 tabindex="0">Publications</h1>
  </div>


  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Ahn, D., Lund, G., and Davidson, K. (2019). It takes a village: The role of community size in linguistic
regularization. View abtract.
<a href="/pdf/kocabetal2019_glow.pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        KKocab, A., Ziegler, J., and Snedeker, J. (under review). Reconsidering agreement in sign languages. Poster to be presented
at Generative Linguistics in the Old World (GLOW), Oslo, Norway, May 2019. View poster of work presented at BUCLD.
<a href="/pdf/ziegler_kocab_snedeker_bucld17.pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Davidson, K., Kocab, A., Sims, A., and Wagner, L. (under review). The relationship between verbal form and event structure
in sign languages. View working paper.
<a href="/pdf/Davidson-et-al.-(under review).pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Snedeker, J., and Davidson, K. (in prep). Quantifiers in Nicaraguan Sign Language. Manuscript available upon request.
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Senghas, A., Coppola, M., and Snedeker, J. (in prep). Recursive language emerges quickly when a new language community forms. Manuscript available upon request.
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Lam, H., and Snedeker, J. (2017. When cars hit trucks and girls hug boys: The effect of animacy on word order in gestural language creation. <i> Cognitive Science, 42</i>, 918-9238. View in
        <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/cogs.12555" target="_blank" rel="noopener noreferrer">Cognitive Science</a>.
        <a href="/pdf/Kocab-et-al.-(2017).pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
        Kocab, A., Senghas, A., and Snedeker, J. (2016). The emergence of temporal language in Nicaraguan Sign Language. <i> Cognition, 156</i>, 147-163. View in
        <a href="http://www.sciencedirect.com/science/article/pii/S0010027716301950" target="_blank" rel="noopener noreferrer">Cognition</a>.
        <a href="/pdf/Kocab-et-al.-(2016).pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <div class="publication-container">
    <h2 tabindex="0">
      Kocab A., Pyers J., and Senghas A. (2015). Referential shift in Nicaraguan Sign Language: A transition from lexical to
      spatial devices. <i> Frontiers in Psychology, 5(1540)</i>. View in
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4288245/" target="_blank" rel="noopener noreferrer">Frontiers</a>.

      <a href="/pdf/fpsyg-05-01540.pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    </h2>
  </div>

  <blockquote class="disclaimer" tabindex="0">
    <strong style="font-style: normal">Please note:</strong> These electronic files are posted for individual, noncommercial use to ensure timely dissemination of scholarly work. They are intended for teaching and training purposes only. Articles may not be re-posted or disseminated without permission by the copyright holder. Copyright holders retain all rights as indicated within each article.
  </blockquote>

</div>
