<div class="welcome-background-image">
  <div class="welcome-container">
    <h1 tabindex="0">Research Interests</h1>

    <p tabindex="0">A unique property of the human mind is that it is capable of creating and acquiring languages. All groups of people have symbolic systems capable of expressing complex events and beliefs about the world, past experiences, and future aspirations. No other animal has a communication system with the scope and complexity of human languages, and no other animal can acquire such a system as readily as we do. What properties of the human mind give rise to language? How does the structure of language reflect the structure of the mind? What role do social interactions play in the emergence of language? I explore these questions by studying an emerging language, Nicaraguan Sign Language. I also look at parallel questions using language creation paradigms with children and adults in the laboratory. </p>

        <p tabindex="0">View a talk I gave on my work at Yale University in November 2018
        <a href="https://www.youtube.com/watch?v=qXE8ZBx0_6I" target="_blank" rel="noopener noreferrer">here</a>. </p>

        <html>
         <body>
          <iframe src="https://www.youtube.com/watch?v=qXE8ZBx0_6I"
           width="560" height="315" frameborder="0" allowfullscreen></iframe>
         </body>
        </html>

        <p tabindex="0">To learn more about Nicaraguan Sign Language,
        <a href="http://www.columbia.edu/~as1038/about-nsl.html" target="_blank" rel="noopener noreferrer">visit here</a>. </p>
  </div>
</div>
